
@import "tailwindcss";
/* Hide the track and buttons, keep the thumb */
.scrollbar-thumb-only::-webkit-scrollbar {
    width: 10px;
  }
  
  .scrollbar-thumb-only::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-thumb-only::-webkit-scrollbar-button {
    display: none;
  }
  
  .scrollbar-thumb-only::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 9999px;
  }
  